<div  id="addEmployeeModal"  aria-labelledby="addEmployeeModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
               <input type="hidden" ngModel name="id" class="form-control" id="id" required>
               
               <div class="row gx-3 mb-3">
                  <div class="form-group" class="col-md-6">
                     <label for="name" class="small mb-1">Name</label>
                     <input type="text" ngModel name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                  </div>
                  <div class="form-group" class="col-md-6">
                    <label for="surname" class="small mb-1">Surname</label>
                    <input type="text" ngModel name="surname" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="surname">
                 </div>
              </div>
              <div class="row gx-3 mb-3">
                 <div class="form-group" class="col-md-6">
                    <label for="secondSurname" class="small mb-1">Second surname</label>
                    <input type="text" ngModel name="secondSurname" class="form-control" id="secondSurname" aria-describedby="emailHelp" placeholder="secondSurname">
                 </div>
                 <div class="form-group" class="col-md-6">
                    <label for="phoneNumber" class="small mb-1">Phone</label>
                    <input type="text" ngModel name="phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone">
                 </div>
              </div>
  
              <div class="row gx-3 mb-3">
                  <div class="form-group"  class="col-md-6">
                       <label for="beginning" class="small mb-1">Beginning</label>
                       <input type="date" ngModel name="beginning" class="form-control" id="beginning" aria-describedby="emailHelp" placeholder="Name">
                    </div>
                    <div class="form-group"  class="col-md-6">
                       <label for="dismissal" class="small mb-1">Dismissal</label>
                       <input type="date" ngModel name="dismissal" class="form-control" id="dismissal" aria-describedby="emailHelp" placeholder="Name">
                 </div>
              </div>
  
                  <div class="form-group">
                     <label for="email" class="small mb-1">Email Address</label>
                     <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <label  class="small mb-1" >Position</label>
                    <select class="form-control" type="number" name="positionId" id="positionId" ngModel>
                     <option *ngFor="let position of positions" value="{{position.id}}">{{nameOfPosition(position.id)}}</option>
                 </select>
                 </div>
                <div class="modal-footer">
                  <button type="button" id="add-employee-form" routerLink="/employee" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button  type="submit" class="btn btn-primary" >Save changes</button>
               </div>
            </form>
         </div>
      </div>
    </div>
    </div>
    