

  <div class="container" id="main-container">
  <div class="row">
  </div>
  
  <div class="container">
   <div class="row">
       <div class="col-lg-12 card-margin">

           <div class="card search-form">
               <div class="card-body p-0">
                  
                   <form id="search-form">
                       <div class="row">
                           <div class="col-12">
                               <div class="row no-gutters">
                                   <div class="col-lg-3 col-md-3 col-sm-12 p-0" >
                                       <input  type="checkbox"  [(ngModel)]="searchEmployee.working" id="working" name="working" >
                                       <label for="working" >Скрыть уволенных:</label>
                                   </div>
                                   
                                     <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                       <input type="text" placeholder="Search..." class="form-control" [(ngModel)]="searchEmployee.surname" id="search" name="search" (keydown.enter)="onEnterSearch()">
                                     </div>
                                     <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                       <button type="button" class="btn btn-base" (click)="search()">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                       </button>
                                     </div>
                                 
                               </div>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>



   <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="showForm('add',null)">Добавить сотрудника</a>
        </li>
      </ul>
    </nav>



  <div class="employee-content">
   <!-- Список сотрудников -->
   <div *ngIf="currentFormId === 'list'" class="container bootstrap snippets bootdey">
     <div class="container bootstrap snippets bootdey">
      <div class="row">
          <div class="col-lg-12">
              <div class="main-box no-header clearfix">
                  <div class="main-box-body clearfix">
                      <div class="table-responsive">
                          <table class="table user-list">
                              <thead>
                                  <tr>
                                  <th><span>Employee</span></th>
                                  <th><span>Beggining</span></th>
                                  <th><span>Dismissal</span></th>
                                  <th><span>Email</span></th>
                                  <th>&nbsp;</th>
                                  </tr>
                              </thead>
                              <tbody *ngFor="let employee of employees | paginate : {
                                 itemsPerPage: pageSize,
                                 currentPage: page,
                                 totalItems: count
                               };">
                                  <tr>
                                      <td>
                                          <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                          <a  class="user-link" (click)="showForm('edit',employee)">{{employee.surname}} {{employee.name}}</a>
                                          <span class="user-subhead">{{nameOfPosition(employee.positionId)}}</span>
                                      </td>
                                      <td>{{employee.beginning}}</td>
                                      <td>{{employee.dismissal}}</td>
                                      <td>
                                          <a href="#">{{employee.email}}</a>
                                      </td>
                                      <div class="card-body">
                                       <div class="float-right btn-group btn-group-sm">
                                           <a (click)="showForm('edit',employee)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a> 
                                          <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                       </div>
                                    </div>
                                 </tr>
                              </tbody>
                          </table>
                         <div class="col-md-12">
                           <pagination-controls
                             previousLabel="Prev"
                             nextLabel="Next"
                             [responsive]="true"
                             (pageChange)="handlePageChange($event)"
                           ></pagination-controls>
                         </div>
                       

                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
   </div>
<!-- добавление сотрудника -->
   <div *ngIf="currentFormId === 'add'" class="container">
      <div  id="addEmployeeModal"  aria-labelledby="addEmployeeModalLabel" >
         <div class="modal-dialog modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
              </div>
              <div class="modal-body">
                  <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">

                    <input type="hidden" ngModel name="id" class="form-control" id="id" required>
                    
                    <div class="row gx-3 mb-3">
                       <div class="form-group" class="col-md-6">
                          <label for="name" class="small mb-1">Name</label>
                          <input type="text" ngModel name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                       </div>
                       <div class="form-group" class="col-md-6">
                         <label for="surname" class="small mb-1">Surname</label>
                         <input type="text" ngModel name="surname" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="surname">
                      </div>
                   </div>
                   <div class="row gx-3 mb-3">
                      <div class="form-group" class="col-md-6">
                         <label for="secondSurname" class="small mb-1">Second surname</label>
                         <input type="text" ngModel name="secondSurname" class="form-control" id="secondSurname" aria-describedby="emailHelp" placeholder="secondSurname">
                      </div>
                      <div class="form-group" class="col-md-6">
                         <label for="phoneNumber" class="small mb-1">Phone</label>
                         <input type="text" ngModel name="phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone">
                      </div>
                   </div>
       
                   <div class="row gx-3 mb-3">
                       <div class="form-group"  class="col-md-6">
                            <label for="beginning" class="small mb-1">Beginning</label>
                            <input type="date" ngModel name="beginning" class="form-control" id="beginning" aria-describedby="emailHelp" placeholder="Name">
                         </div>
                         <div class="form-group"  class="col-md-6">
                            <label for="dismissal" class="small mb-1">Dismissal</label>
                            <input type="date" ngModel name="dismissal" class="form-control" id="dismissal" aria-describedby="emailHelp" placeholder="Name">
                      </div>
                   </div>
       
                       <div class="form-group">
                          <label for="email" class="small mb-1">Email Address</label>
                          <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email">
                       </div>
                       
                       <div class="form-group">
                         <label  class="small mb-1" >Position</label>
                         <select class="form-control" type="number" name="positionId" id="positionId" ngModel>
                          <option *ngFor="let position of positions" value="{{position.id}}">{{nameOfPosition(position.id)}}</option>
                      </select>
                      </div>


                     <div class="modal-footer">
                       <button type="button" id="add-employee-form" routerLink="/employee" class="btn btn-secondary" data-dismiss="modal" (click)="showForm('list',null)">Close</button>
                       <button  type="submit" class="btn btn-primary" >Save changes</button>
                    </div>
                 </form>
              </div>
           </div>
         </div>
         </div>
         
   </div>
   <!-- изменение сотрудника -->
   <div *ngIf="currentFormId === 'edit'" class="container">
      <div  id="updateEmployeeModal"  aria-labelledby="employeeEditModalLabel"  >
           <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  </button>
               </div>
               <div class="modal-body">
                  <form #editForm="ngForm" >
                    <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                    <div class="row gx-3 mb-3">
                     <div class="form-group" class="col-md-6">
                        <label for="name" class="small mb-1">Name</label>
                        <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                     </div>
                     <div class="form-group" class="col-md-6">
                       <label for="surname" class="small mb-1">Surname</label>
                       <input type="text" ngModel="{{editEmployee?.surname}}" name="surname" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="surname">
                    </div>
                 </div>
                 <div class="row gx-3 mb-3">
                    <div class="form-group" class="col-md-6">
                       <label for="secondSurname" class="small mb-1">Second surname</label>
                       <input type="text" ngModel="{{editEmployee?.secondSurname}}" name="secondSurname" class="form-control" id="secondSurname" aria-describedby="emailHelp" placeholder="secondSurname">
                    </div>
                    <div class="form-group" class="col-md-6">
                       <label for="phoneNumber" class="small mb-1">Phone</label>
                       <input type="text" ngModel="{{editEmployee?.phoneNumber}}" name="phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone">
                    </div>
                 </div>
     
                 <div class="row gx-3 mb-3">
                     <div class="form-group"  class="col-md-6">
                          <label for="beginning" class="small mb-1">Beginning</label>
                          <input type="date" ngModel="{{editEmployee?.beginning}}" name="beginning" class="form-control" id="beginning" aria-describedby="emailHelp" placeholder="Name">
                       </div>
                       <div class="form-group"  class="col-md-6">
                          <label for="dismissal" class="small mb-1">Dismissal</label>
                          <input type="date" ngModel="{{editEmployee?.dismissal}}" name="dismissal" class="form-control" id="dismissal" aria-describedby="emailHelp" placeholder="Name">
                    </div>
                 </div>
     
                     <div class="form-group">
                        <label for="email" class="small mb-1">Email Address</label>
                        <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                     </div>
                     
                     <div class="form-group">
                       <label  class="small mb-1" >Position</label>
                       <select class="form-control" type="number" name="positionId" id="positionId" ngModel="{{editEmployee?.positionId}}">
                          <option *ngFor="let position of positions" value="{{position.id}}">{{nameOfPosition(position.id)}}</option>
                      </select>
                    </div>
     
                    <form #addSalaryForm="ngForm" (ngSubmit)="onAddSalary(addSalaryForm)">
                     <div class="row gx-3 mb-3">
                        <input type="hidden" ngModel="{{editEmployee.id}}" name="employeeId" class="form-control" id="employeeId" placeholder="Email">
                       <div class="col-md-2">
                         <div class="form-group">
                           <label for="sum" class="small mb-3">Salary</label>
                           <input type="number" ngModel name="sum" class="form-control" id="sum" placeholder="Summa">
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="form-group">
                           <label for="month" class="small mb-3">Date of salary</label>
                           <input type="date" ngModel name="month" class="form-control" id="month" placeholder="Date">
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="form-group">
                           <label for="numberOfOrder" class="small mb-3">Number of order</label>
                           <input type="number" ngModel name="numberOfOrder" class="form-control" id="numberOfOrder" placeholder="Number of order">
                         </div>
                       </div>
                       <div class="col-md-3">
                         <div class="form-group">
                           <label for="dateOfOrder" class="small mb-3">Date of order</label>
                           <input type="date" ngModel name="dateOfOrder" class="form-control" id="dateOfOrder" placeholder="Date of order">
                         </div>
                       </div>
                       <button type="submit" class="btn btn-primary">Save Salary</button>

                     </div>
                    

                    <mat-accordion class="example-headers-align" multi>
                     <mat-expansion-panel>
                       <mat-expansion-panel-header>
                         <mat-panel-title>
                           History
                         </mat-panel-title>
                         
                       </mat-expansion-panel-header>
                   
                       <table class="table user-list">
                        <thead>
                            <tr>
                            <th><span>Summa</span></th>
                            <th><span>Month</span></th>
                            <th><span>numberOfOrder</span></th>
                            <th><span>dateOfOrder</span></th>
                            <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let salary of salarys">
                           <tr>                           
                              <td>{{salary.sum}}</td>
                              <td>{{salary.month}}</td>
                              <td>{{salary.numberOfOrder}}</td>
                              <td>{{salary.dateOfOrder}}</td>
                              <div class="card-body">
                                 <div class="float-right btn-group btn-group-sm">
                                    <a  class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a> 
                                    <a  class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                 </div>
                              </div>
                           </tr>

                    </table>

                     </mat-expansion-panel>
                  
                   </mat-accordion>
                    
                     <div class="modal-footer">
                        <button type="button" id="add-salary-form" data-dismiss="modal" class="btn btn-secondary" (click)="showForm('list',null)">Close</button>
                        <button type="submit" (click)="onUpdateEmloyee(editForm.value)"  type="submit" class="btn btn-primary"  class="btn btn-primary" (click)="showForm('list',null)">Save changes</button>
                        <!-- <button  data-dismiss="modal" class="btn btn-primary" >Save changes</button> -->
                     </div> 
                  </form>
               </form>
               </div>
            </div>
         </div>
       </div>
   </div>
   <!-- Добавьте другие блоки с условиями для других форм, если необходимо -->
 </div>





  <!-- Delete Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteEmloyee(deleteEmployee.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>  
  </div>
 
  <!-- Notification for no employees -->
  <div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>
  </div>
  </div>


